<div class="dropdown__usuario" id="dropdown">

    <div class="area__botoes__coluna">
        <div class="botao__horizontal" onclick="window.location.href = '/tecnico/meus-dados/'">
            <i class="material-symbols-outlined" style="font-size: 2vw; vertical-align: middle; color: black">
                account_circle</i>&nbsp;Meus Dados
        </div>
        <div class="botao__horizontal" onclick="window.location.href = '/tecnico/'">
            <i class="material-symbols-outlined" style="font-size: 2vw; vertical-align: middle; color: black">
                logout</i>&nbsp;Sair
        </div>
    </div>

</div>