<!-- Modal -->
{% load static %}
<style>

    .custom-modal-width {
        max-width: 50%; 
        font-size: 16px !important;
    }

    .modal-content{
        max-height: 50%;
        min-height: 400px;
    }

</style>

<!-- Modal -->
<div class="modal fade" id="modalImagem" tabindex="-1" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable custom-modal-width">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Imagem</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Conteúdo do modal aqui.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


<script>
    document.querySelectorAll('.closeModalButton').forEach(button => {
        button.addEventListener('click', function() {
            $('#modalImagem').modal('hide');
        });
    });
</script>