{% load static %}
{% load saudacoes_filters %}

        
<div class="saudacao">
    <span style="color:gray; font-weight: normal !important;">{{ user|saudacao }}, &nbsp;</span> <b>{{ user.usuario_relacionado.primeiro_ultimo_nome }} ({{user.usuario_relacionado.regional_senar}})</b>
</div>

<div class="botoes__navbar">

    <!-- <div class="icone-notificacao">
        <i class="material-symbols-outlined" style="font-size: 1.3vw;">notifications</i>
    </div> -->

    <div class="usuario" id="iconeUsuario" style="text-align: center;">
        <i class="material-symbols-outlined" style="font-size: 2vw; color: black; ">
            menu</i><br>Mais Opções
    </div>

    <!-- dropdown usuário -->
    {% include "_partials/dropdown_usuario.html" %}


</div>
        
    
