{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'styles/partials/navbar_produtor.css' %}">
{% endblock %}

<div class="navbar">

    <div class="nav-item" id="abaAtendimentos">
        <i class="material-symbols-outlined" style="font-size: 9vw;">video_chat</i>
    </div>
    
    <div class="nav-item" id="abaInformacoes">
        <i class="material-symbols-outlined" style="font-size: 9vw;">info</i>
    </div>

    <div class="nav-item" id="abaMeusDados">
        <i class="material-symbols-outlined" style="font-size: 9vw;">person</i>
    </div>
</div>