
.card-atendimento {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--cinza-claro);
    border-radius: 10px;
    padding: 2vh;
}

.card-atendimento__imagem {
    text-align: center;
}

.card-atendimento__informacoes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2px;
}

.status {
    font-weight: bold;
}

.agendado {
    background-color: orangered;
    padding: 3px;
    border-radius: 5px;
    color: white;
    font-weight: normal;
}