.container_body {
    grid-template-rows: 10% 90%;
}

.container__page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
    height: 100%;
}

.cabecalho {
    width: 100%;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: var(--verde-capital); */
    
    border-radius: 10px;
    color: var(--verde-capital);
}

.card-atendimento {
    margin-bottom: 0;
}

.titulo-texto {
    line-height: 1.2;
    font-size: 1.5rem;
}

.botao_sair {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}