:root {
    --verde-capital: #1AA33C;
    --cinza-primario: #6A6A6A;
    --cinza-escuro: #484848;
    --cinza-claro: #e4e4e4;
    --agendado: #ff2200;
    --cancelado: #7b0000;
    --editar: #f5840b;
  }