body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Manrope', sans-serif;
    background-color: #f4f5f7;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    overflow-y: hidden;
}

.sidebar {
    /* background-color: #005B2A; */
    background-color: #f4f5f7;
    width: 15%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0 0 0px 0;
    transition: flex-basis 0.45s ease-in-out;
    overflow-x: hidden;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-height: 8%;
}

.workspace {
    background-color: #f4f5f7;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    
}
