.container_page{
    width: 96%;
    height: 100%;
}

.secao_dados{
    display: flex;
    flex-direction: column;
}

.secao_dados_subsecao {
    display: flex;
    flex-direction: column;
    
}

.secao_dados_subsecao_titulo {
    font-size: 0.9rem;
    font-weight: bold;
}

.secao_dados_subsecao_itens {
    display: flex;
    flex-direction: row;
    row-gap: 0.5vh;
    column-gap: 1vw;
    flex-wrap: wrap;
    font-size: 0.8rem;
}

.form-control, .form-select {
    font-size: 0.8rem;
}