.saudacao {
    font-family: 'Manrope', sans-serif;
    font-size: 2.2vh;
    font-weight: bold;
    padding-left: 1vw;
}

.botoes__navbar {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 0.5vw;
    cursor: pointer;
}

.usuario {
    height: 100%;
}

.usuario__imagem {
    height: 100%;
    border-radius: 50%;
}




.toggle-button {
    cursor: pointer;
    color: white;
    padding: 5px 10px 0px 0px;
    text-align: right;
    margin-top: auto;
    margin-bottom: 5px;

}

.usuario {
    cursor: pointer;
    font-size: 12px;
    color: black;
    padding: 5px 10px;
    text-align: left;
    margin-left: 15px;
    margin-bottom: 5px;
}