.container_page{
    width: 96%;
    height: 100%;
}

.secao_dados{
    display: flex;
    flex-direction: column;
}

.secao_dados_subsecao {
    display: flex;
    flex-direction: column;
    
}

.secao_dados_subsecao_titulo {
    font-size: 0.9rem;
    font-weight: bold;
}

.secao_dados_subsecao_itens {
    display: flex;
    flex-direction: row;
    row-gap: 0.5vh;
    column-gap: 1vw;
    flex-wrap: wrap;
    font-size: 0.8rem;
}

.form-control, .form-select {
    font-size: 0.8rem;
}

.botaoAddEspecialidade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botaoAddEspecialidade:hover {
    cursor: pointer;
    
}

.form-check {
    display: flex;
    align-items: center; /* Centraliza verticalmente o conteúdo dentro do contêiner */
  }
  
  .form-check-input {
    width: 25px; /* Ajusta a largura da checkbox */
    height: 25px; /* Ajusta a altura da checkbox */
    margin-right: 10px; /* Espaço entre a checkbox e o rótulo */

    margin-top: 0 !important;
    cursor: pointer;
  }
  
  .form-check-label {
    /* margin-bottom: 0; */
  }
  