{% extends '_partials/base_main_produtor.html' %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'styles\modulo_produtor\ficha_atendimento.css' %}">
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block content %}    

    <div class="container__page">

        <div class="titulo_pagina">
            <div class="titulo_pagina__item" id="btnSair">
                <i class="material-symbols-outlined">arrow_back</i>
                Voltar
            </div>
            
            <div class="titulo_pagina__item">
                <span><b>Ficha do Atendimento</b><br></span>
                <span class="titulo_pagina_id">{{ atendimento.atendimento_id }}</span>
            </div>
            
        </div>

        <!-- Identificação -->
        <div class="card">
            <div class="card__titulo">
                <i class="material-symbols-outlined card__imagem">info</i>Identificação
            </div>
            <div class="card__conteudo" id="cardAtendimento" data-id="{{ atendimento.id }}">
                <span>ID: {{ atendimento.atendimento_id }}</span>
                <span>Data: {{ atendimento.data|date:'d/m/Y' }}</span>
                <span>Hora: {{ atendimento.hora }}</span>
                <span>Status: 
                    {% if atendimento.status == 'agendado' %}
                        <span class='status atendimento_agendado'>Agendado</span>
                    {% endif %}
                    {% if atendimento.status == 'realizado' %}
                        <span class='status atendimento_realizado'>Realizado</span>
                    {% endif %}
                    {% if atendimento.status == 'cancelado' %}
                        <span class='status atendimento_cancelado'>Cancelado</span>
                    {% endif %}
                </span>
            </div>
        </div>

        <!-- Tópico do Atendimento -->
        <div class="card">
            <div class="card__titulo">
                <i class="material-symbols-outlined card__imagem">target</i>Tópico do Atendimento
            </div>
            <div class="card__conteudo">
                <span>Atividade: {{ atendimento.get_atividade_produtiva_display }}</span>
                <span>Tópico: {{ atendimento.topico }}</span>
                <span>Mais informações:
                    {% if atendimento.mais_informacoes %}
                        <br>{{ atendimento.mais_informacoes }}
                    {% else %}
                        não informado.
                    {% endif %}
                </span>
            </div>
        </div>

        <!-- Fotos -->
        <div class="card">
            <div class="card__titulo">
                <i class="material-symbols-outlined card__imagem">image</i>Imagens
            </div>
            <div class="card__conteudo">
                
                <div class="imagens_enviadas">
                    <span>
                        {% if atendimento.imagem01 %}
                            <img src="#" alt="Imagem 01">
                        {% else %}
                            <div class="imagens_enviadas__imagem">
                                <i class="material-symbols-outlined">image</i>
                                <span>Não enviada</span> 
                            </div>
                        {% endif %}
                    </span>
                    <span>
                        {% if atendimento.imagem02 %}
                            <img src="#" alt="Imagem 02">
                        {% else %}
                            <div class="imagens_enviadas__imagem">
                                <i class="material-symbols-outlined">image</i>
                                <span>Não enviada</span> 
                            </div>
                        {% endif %}
                    </span>
                    <span>
                        {% if atendimento.imagem03 %}
                            <img src="#" alt="Imagem 03">
                        {% else %}
                            <div class="imagens_enviadas__imagem">
                                <i class="material-symbols-outlined">image</i>
                                <span>Não enviada</span> 
                            </div>
                        {% endif %}
                    </span>
                </div>
                
                
                
            </div>
        </div>


        <!-- Avaliação -->
        <div class="card">
            <div class="card__titulo">
                <i class="material-symbols-outlined card__imagem">star</i>Avalição
            </div>
            <div class="card__conteudo">
                
            </div>
        </div>

        {% if atendimento.status == 'agendado' %}
            <div class="botoes">
                <button type="button" class="btn btn-secondary"  style="width: 30%;" id="btnCancelar">Cancelar</button>
                <button type="button" class="btn btn-success"  style="width: 30%;" id="btnEditar">Editar</button>
            </div>
        {% endif %}

    </div>
    
    
    

        
    <script src="{% static 'js/modulo_produtor/ficha_atendimento.js' %}"></script>
{% endblock %}