{% extends '_partials/base_main_produtor.html' %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'styles/modulo_produtor/meus_dados.css' %}">
{% endblock %}

{% block content %}    
    
    <div class="container__page">

        <div class="container_usuario">
            <div class="container_imagem">
                <i class="material-symbols-outlined container_imagem__imagem">person</i>
            </div>
            <span>{{ user.usuario_relacionado.primeiro_ultimo_nome }}</span>
        </div>
        
        <div class="form-floating">
            {{ form.cpf }}
            <label>{{ form.cpf.label }}</label>
        </div>

        <a href="/">
            <span class="material-symbols-outlined">logout</span>
            <span>Sair</span>
        </a>
        


    </div>



    



{% endblock %}