{% extends '_partials/base_main_produtor.html' %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'styles/modulo_produtor/meus_dados.css' %}">
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block content %}    
    
    <div class="container__page">

        <div class="container_usuario">
            <div class="container_imagem">
                <i class="material-symbols-outlined container_imagem__imagem">person</i>
            </div>
            <span>{{ user.usuario_relacionado.primeiro_ultimo_nome }}</span>
        </div>
        
        <form id="formDadosUsuario" class="container_dados_usuario">
            <div class="input-group mb-3">
                <span class="input-group-text" style="width: 25vw;">CPF</span>
                <input type="text" class="form-control" value="{{ request.user.usuario_relacionado.cpf }}" readonly>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" style="width: 25vw;">Regional</span>
                <input type="text" class="form-control" value="{{ request.user.usuario_relacionado.regional_senar_produtor }}" readonly>
            </div>
    
            <div class="input-group mb-3">
                <span class="input-group-text" style="width: 25vw;">Nome</span>
                <input type="text" class="form-control" id="formNomeCompleto" name="nome_completo" value="{{ request.user.usuario_relacionado.nome_completo }}">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" style="width: 25vw;">Data Nasc.</span>
                <input type="text" id="formDataNascimento" name="data_nascimento" inputmode="numeric" class="form-control" value="{{ request.user.usuario_relacionado.data_nascimento|date:'d/m/Y' }}">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" style="width: 25vw;">Whatsapp</span>
                <input type="text" id="formCelular" name="celular" inputmode="numeric" class="form-control" value="{{ request.user.usuario_relacionado.celular }}">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" style="width: 25vw;">Email</span>
                <input type="text" id="formEmail" name="email" class="form-control" value="{{ request.user.usuario_relacionado.email_pessoal }}">
            </div>

            <div class="botao">
                <button type="submit" class="btn btn-primary" id="btnSalvar">Salvar</button>
            </div>
        </form>
        
        <div class="botao_sair">
            <a href="/">
                <span class="material-symbols-outlined sair">logout</span>
                <span>Sair</span>
            </a>
        </div>

        <script src="{% static 'js/modulo_produtor/meus_dados.js' %}"></script>

    </div>



    



{% endblock %}