{% extends '_partials/base_main_produtor.html' %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'styles/modulo_produtor/meus_atendimentos.css' %}">
{% endblock %}

{% block content %}    
    

    <!-- Novo Atendimento -->
    <div class="card-novo-atendimento" id="novoAtendimento" onclick="window.location.href='/produtor/novo-atendimento/'">
        
        <div class="image-card">
            <i class="material-symbols-outlined">video_chat</i>
        </div>

        <div class="textos-card">
            <div class="titulo-card">
                Novo Atendimento
            </div>
            <div class="texto-card">
                Faça o agendamento para falar com um técnico do Senar.<br>
            </div>
        </div>
    </div>


    <!-- Lista de Atendimentos -->
    <div class="lista-atendimentos">
        <div style="margin-bottom: 1vh;"><b>Meus Atendimentos</b></div>
        <div class="carrossel-vertical">
            
            <div class="card-atendimento">
                <div class="card-atendimento__informacoes">
                    <span><b>ID 0001/24</b></span>
                    <span>Status: <span class='status agendado'>Agendado</span></span>
                    <span>Atividade: Bovino  de Leite</span>
                    <span>Tópico: Ensilagem</span>
                    <span>Data: 14/05/2024</span>
                    <span>Hora: 15:00</span>
                    <span>Técnico: José da Silva</span>
                </div>
            </div>

            <div class="card-atendimento">
                <div class="card-atendimento__informacoes">
                    <span><b>ID 0001/24</b></span>
                    <span>Status: <span class='status agendado'>Agendado</span></span>
                    <span>Atividade: Bovino  de Leite</span>
                    <span>Tópico: Ensilagem</span>
                    <span>Data: 14/05/2024</span>
                    <span>Hora: 15:00</span>
                    <span>Técnico: José da Silva</span>
                </div>
            </div>

            <div class="card-atendimento">
                <div class="card-atendimento__informacoes">
                    <span><b>ID 0001/24</b></span>
                    <span>Status: <span class='status agendado'>Agendado</span></span>
                    <span>Atividade: Bovino  de Leite</span>
                    <span>Tópico: Ensilagem</span>
                    <span>Data: 14/05/2024</span>
                    <span>Hora: 15:00</span>
                    <span>Técnico: José da Silva</span>
                </div>
            </div>

            <div class="card-atendimento">
                <div class="card-atendimento__informacoes">
                    <span><b>ID 0001/24</b></span>
                    <span>Status: <span class='status agendado'>Agendado</span></span>
                    <span>Atividade: Bovino  de Leite</span>
                    <span>Tópico: Ensilagem</span>
                    <span>Data: 14/05/2024</span>
                    <span>Hora: 15:00</span>
                    <span>Técnico: José da Silva</span>
                </div>
            </div>

            <div class="card-atendimento">
                <div class="card-atendimento__informacoes">
                    <span><b>ID 0001/24</b></span>
                    <span>Status: <span class='status agendado'>Agendado</span></span>
                    <span>Atividade: Bovino  de Leite</span>
                    <span>Tópico: Ensilagem</span>
                    <span>Data: 14/05/2024</span>
                    <span>Hora: 15:00</span>
                    <span>Técnico: José da Silva</span>
                </div>
            </div>
        </div>
    </div>

{% endblock %}