{% extends '_partials/base_main_produtor.html' %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'styles/modulo_produtor/meus_atendimentos.css' %}">
    <link rel="stylesheet" href="{% static 'styles/modulo_produtor/card_agendamento.css' %}">
{% endblock %}

{% block content %}       

    {% if agendamento %}
        <!-- Agendamento -->
        <div class="card-agendamento" id="cardAgendamento" data-id="{{ agendamento.id }}">
            
            <div class="image-card">
                <i class="material-symbols-outlined">calendar_clock</i>
            </div>

            <div class="textos-card">
                <div class="titulo-card">
                    Atendimento Agendado 
                </div>
                <div class="texto-card" >
                    <span>Atendimento: {{ agendamento.atendimento_id }}</span>
                    <span>Atividade: {{ agendamento.get_atividade_produtiva_display }}</span>
                    <span>Tópico: {{ agendamento.topico }}</span>
                    <span>Data: <b>{{ agendamento.data|date:'d/m/Y' }}</b></span>
                    <span>Hora: <b>{{ agendamento.hora }}</b></span>
                    <span>Técnico: {{ agendamento.tecnico.primeiro_ultimo_nome }}</span>
                </div>
            </div>
        </div>

    {% else %}
        <!-- Novo Atendimento -->
        <div class="card-novo-atendimento" id="novoAtendimento" onclick="window.location.href='/produtor/novo-atendimento/'">
            
            <div class="image-card">
                <i class="material-symbols-outlined">video_chat</i>
            </div>

            <div class="textos-card">
                <div class="titulo-card">
                    Novo Atendimento
                </div>
                <div class="texto-card">
                    Faça o agendamento para falar com um técnico do Senar.<br>
                </div>
            </div>
        </div>
    {% endif %}


    <!-- Lista de Atendimentos -->
    <div class="lista-atendimentos">
        <div style="margin-bottom: 1vh;"><b>Meus Atendimentos</b></div>
        <div class="carrossel-vertical">
            
            {% for atendimento in atendimentos %}
                <div class="card-atendimento" data-id="{{ atendimento.id }}">
                    <div class="card-atendimento__informacoes">
                        <span><b>Atendimento {{ atendimento.atendimento_id }}</b></span>
                        <span>Atividade: {{ atendimento.get_atividade_produtiva_display }}</span>
                        <span>Tópico: {{ atendimento.topico }}</span>
                        <span>Data: {{ atendimento.data|date:'d/m/Y' }}</span>
                        <span>Hora: {{ atendimento.hora }}</span>
                        <span>Técnico: {{ atendimento.tecnico.primeiro_ultimo_nome }}</span>
                        {% if atendimento.status == 'cancelado' %}
                            <span>Status: <span class='status cancelado'>Cancelado</span></span>
                        {% else %}
                            <span>Status: <span class='status realizado'>Realizado</span></span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            
        </div>
    </div>

    <script src="{% static 'js/modulo_produtor/meus_atendimentos.js' %}"></script>

{% endblock %}