{% extends '_partials/base_main_produtor.html' %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'styles/modulo_produtor/meus_atendimentos.css' %}">
    <link rel="stylesheet" href="{% static 'styles/modulo_produtor/card_agendamento.css' %}">
{% endblock %}

{% block content %}       

    {% if agendamento %}

        <!-- Agendamento -->
        <div class="card-agendamento" id="cardAgendamento" data-id="{{ agendamento.id }}">
            
            <div class="image-card">
                <i class="material-symbols-outlined">calendar_clock</i>
            </div>

            <div class="textos-card">
                <div class="titulo-card">
                    Atendimento Agendado 
                </div>
                <div class="texto-card" >
                    <span>Atividade: {{ agendamento.get_atividade_produtiva_display }}</span>
                    <span>Tópico: {{ agendamento.topico }}</span>
                    <span>Data: <b>{{ agendamento.data|date:'d/m/Y' }}</b></span>
                    <span>Hora: <b>{{ agendamento.hora }}</b></span>
                    <span>Técnico: {{ agendamento.tecnico.primeiro_ultimo_nome }}</span>
                </div>
            </div>
        </div>

    {% else %}
        <!-- Novo Atendimento -->
        <div class="card-novo-atendimento" id="novoAtendimento" onclick="window.location.href='/produtor/novo-atendimento/'">
            
            <div class="image-card">
                <i class="material-symbols-outlined">video_chat</i>
            </div>

            <div class="textos-card">
                <div class="titulo-card">
                    Novo Atendimento
                </div>
                <div class="texto-card">
                    Faça o agendamento para falar com um técnico do Senar.<br>
                </div>
            </div>
        </div>
    {% endif %}


    <!-- Lista de Atendimentos -->
    <div class="lista-atendimentos">
        <div style="margin-bottom: 1vh;"><b>Meus Atendimentos</b></div>
        <div class="carrossel-vertical">
            
            <div class="card-atendimento">
                <div class="card-atendimento__informacoes">
                    <span><b>ID 0001/24</b></span>
                    <span>Status: <span class='status agendado'>Agendado</span></span>
                    <span>Atividade: Bovino  de Leite</span>
                    <span>Tópico: Ensilagem</span>
                    <span>Data: 14/05/2024</span>
                    <span>Hora: 15:00</span>
                    <span>Técnico: José da Silva</span>
                </div>
            </div>

            <div class="card-atendimento">
                <div class="card-atendimento__informacoes">
                    <span><b>ID 0001/24</b></span>
                    <span>Status: <span class='status agendado'>Agendado</span></span>
                    <span>Atividade: Bovino  de Leite</span>
                    <span>Tópico: Ensilagem</span>
                    <span>Data: 14/05/2024</span>
                    <span>Hora: 15:00</span>
                    <span>Técnico: José da Silva</span>
                </div>
            </div>

            <div class="card-atendimento">
                <div class="card-atendimento__informacoes">
                    <span><b>ID 0001/24</b></span>
                    <span>Status: <span class='status agendado'>Agendado</span></span>
                    <span>Atividade: Bovino  de Leite</span>
                    <span>Tópico: Ensilagem</span>
                    <span>Data: 14/05/2024</span>
                    <span>Hora: 15:00</span>
                    <span>Técnico: José da Silva</span>
                </div>
            </div>

            <div class="card-atendimento">
                <div class="card-atendimento__informacoes">
                    <span><b>ID 0001/24</b></span>
                    <span>Status: <span class='status agendado'>Agendado</span></span>
                    <span>Atividade: Bovino  de Leite</span>
                    <span>Tópico: Ensilagem</span>
                    <span>Data: 14/05/2024</span>
                    <span>Hora: 15:00</span>
                    <span>Técnico: José da Silva</span>
                </div>
            </div>

            <div class="card-atendimento">
                <div class="card-atendimento__informacoes">
                    <span><b>ID 0001/24</b></span>
                    <span>Status: <span class='status agendado'>Agendado</span></span>
                    <span>Atividade: Bovino  de Leite</span>
                    <span>Tópico: Ensilagem</span>
                    <span>Data: 14/05/2024</span>
                    <span>Hora: 15:00</span>
                    <span>Técnico: José da Silva</span>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/modulo_produtor/meus_atendimentos.js' %}"></script>

{% endblock %}