{% extends '_partials/base_main.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static '/styles/modulo_tecnico/ficha_atendimento.css' %}">
    <meta name="csrf-token" content="{{ csrf_token }}">

    <!-- Quill -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

    <!-- FontsAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

{% endblock %}
{% block content %}    
    
    <div class="container_page">
        
        <!-- Identificação -->
        <div class="barra_identificacao">
            <a class="barra_identificacao_parte botao_voltar" style="justify-content: flex-start;" href="{% url 'tecnico_atendimentos' %}">
                <i class="material-symbols-outlined" style="font-size: 1.5vw;">arrow_back</i>
                Voltar
            </a>

            <div class="barra_identificacao_parte">
                <span>Atendimento {{ atendimento.atendimento_id }}</span>
            </div>
            
        </div>

        <!-- Funcionalidades -->
        <div class="barra_funcionalidades">
            <div class="funcionalidade" id="abrirOffcanvasWhatsapp">
                <i class="fa-brands fa-whatsapp" style="font-size: 1.5vw; vertical-align: middle; color: black"></i>
                Atender
            </div>
            <div class="funcionalidade" id="abrirOffcanvasCancelarAtendimento">
                <i class="material-symbols-outlined" style="font-size: 1.5vw; vertical-align: middle; color: black">cancel</i>
                Cancelar
            </div>
            <div class="funcionalidade" id="abrirOffcanvasConfirmarAtendimento">
                <i class="material-symbols-outlined" style="font-size: 1.5vw; vertical-align: middle; color: black">check</i>
                Confirmar Atend.
            </div>
            <div class="funcionalidade" id="abrirOffcanvasFinalizarAtendimento">
                <i class="material-symbols-outlined" style="font-size: 1.5vw; vertical-align: middle; color: black">done_all</i>
                Finalizar
            </div>
            <div class="funcionalidade" id="abrirOffcanvasAgendarRetorno">
                <i class="material-symbols-outlined" style="font-size: 1.5vw; vertical-align: middle; color: black">event_upcoming</i>
                Agendar Retorno
            </div>
        </div>

        <!-- Container Atendimento -->
        <div class="container_atendimento">
            
            <!-- Dados do Atendimento -->
            <div class="container_atendimento_infos">

                <!-- Produtor -->
                <div class="atendimento_produtor">
                    <span><b>Produtor</b></span>
                    <span>Nome: <b>{{ atendimento.produtor.primeiro_ultimo_nome }}</b> ({{ atendimento.produtor.idade }} anos)</span>
                    <span>Município: {{ atendimento.produtor.uf_municipio }}</span>
                    <span>Celular: {{ atendimento.produtor.celular }}</span>
                </div>

                <!-- Identificação do Atendimento -->
                <div class="atendimento_dados">
                    <span><b>Identificação do Atendimento</b></span>
                    <span>ID: {{ atendimento.atendimento_id }}</span>
                    <span>Data: <b>{{ atendimento.data|date:'d/m/Y' }}</b></span>
                    <span>Hora: <b>{{ atendimento.hora }}</b></span>
                    <span>Status: 
                        {% if atendimento.status == 'agendado' %}
                            <span class='status atendimento_agendado'>Agendado</span>
                        {% endif %}
                        {% if atendimento.status == 'realizado' %}
                            <span class='status atendimento_realizado'>Realizado</span>
                        {% endif %}
                        {% if atendimento.status == 'cancelado' %}
                            <span class='status atendimento_cancelado'>Cancelado</span>
                        {% endif %}
                    </span>
                </div>

                <!-- Tópico do Atendimento -->
                <div class="atendimento_dados">
                    <span><b>Tópico do Atendimento</b></span>
                    <span>Atividade: {{ atendimento.get_atividade_produtiva_display }}</span>
                    <span>Tópico: {{ atendimento.topico }}</span>
                    <span>Mais informações:
                        {% if atendimento.mais_informacoes %}
                            <br>{{ atendimento.mais_informacoes }}
                        {% else %}
                            não informado.
                        {% endif %}
                    </span>
                </div>

                <!-- Imagens Enviadas -->
                <div class="atendimento_dados">
                    <span><b>Imagens Enviadas</b></span>
                    <div class="atendimento_dados_imagens">
                        <div class="atendimento_dados_imagens__card">
                            {% if atendimento.imagem01 %}
                                <img src="{{ atendimento.imagem01 }}">
                            {% else %}
                                <i class="material-symbols-outlined" style="font-size: 2vw;">image</i>
                                Não enviada
                            {% endif %}
                        </div>
                        <div class="atendimento_dados_imagens__card">
                            {% if atendimento.imagem02 %}
                                <img src="{{ atendimento.imagem01 }}">
                            {% else %}
                                <i class="material-symbols-outlined" style="font-size: 2vw;">image</i>
                                Não enviada
                            {% endif %}
                        </div>
                        <div class="atendimento_dados_imagens__card">
                            {% if atendimento.imagem03%}
                                <img src="{{ atendimento.imagem01 }}">
                            {% else %}
                                <i class="material-symbols-outlined" style="font-size: 2vw;">image</i>
                                Não enviada
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Avaliação do atendimento -->
                <div class="atendimento_dados">
                    <span><b>Avaliação do Atendimento</b></span>
                    <div class="avaliacao__atendimento__estrelas">
                        <span class="estrela preenchida" data-value="1">★</span>
                        <span class="estrela preenchida" data-value="2">★</span>
                        <span class="estrela preenchida" data-value="3">★</span>
                        <span class="estrela preenchida" data-value="4">★</span>
                        <span class="estrela" data-value="5">★</span>
                    </div>
                    <span>Comentário: nenhum comentário.</span>
                </div>
                
            </div>

            <!-- Relatório -->
            <div class="container_atendimento_relatorio">

                <div><b>Relatório Técnico do Atendimento</b></div>

                <div class="area_relatorio">
                    <div id="editor" data-id="{{ atendimento.id }}" style="height: 100%;"></div>
                    <script type="text/plain" id="relatorioInicial">
                        {{ atendimento.relatorio|safe }}
                    </script>
                </div>                

                <div class="relatorio_botoes">

                    <div class="relatorio_botoes__infos">
                        <span id="contadorPalavras">Total de palavras: {totalPalavras}</span>
                        <span id="dataRelatorio">
                            Última atualização:
                            {% if atendimento.relatorio_atualizacao %}
                                {{ atendimento.relatorio_atualizacao|date:'d/m/Y h:i:s' }}
                            {% else %}
                                -
                            {% endif %}
                        </span>
                    </div>
                    
                    <div>
                        <button class="btn btn-success" id="btnSalvarRelatorio">Salvar Relatório</button>
                        <!-- <button class="btn btn-success" style="margin-left: 20px;">Baixar Relatório</button> -->
                    </div>
                    
                </div>

            </div>

        </div>


        <!-- offcanvas whatsapp -->
        {% include 'modulo_tecnico/offcanvas_iniciar_atendimento.html' %}

        <!-- offcanvas cancelar -->
        {% include 'modulo_tecnico/offcanvas_cancelar_atendimento.html' %}

        <!-- offcanvas confirmar atendimento -->
        {% include 'modulo_tecnico/offcanvas_confirmar_atendimento.html' %}

        <!-- offcanvas finalizar atendimento -->
        {% include 'modulo_tecnico/offcanvas_finalizar_atendimento.html' %}

        <!-- offcanvas agendar retorno -->
        {% include 'modulo_tecnico/offcanvas_agendar_retorno.html' %}
          

        <script>

            function previewImage(input) {
                const baseId = input.id.replace('id_imagem', '');
                const file = input.files[0];
                const previewImg = document.getElementById(`preview-img${baseId}`);
                const deleteBtn = document.getElementById(`delete-img${baseId}`);
                const inserirImgBtn = document.getElementById(`botao_imagem${baseId}`);
                
                if (file) {
                    const reader = new FileReader();
                    reader.onload = function(e) {
                        previewImg.src = e.target.result;
                        previewImg.style.display = 'block';
                        deleteBtn.style.display = 'inline-block';
                        inserirImgBtn.style.display = 'none';
                    }
                    reader.readAsDataURL(file);
                }
            }
            
            function deleteImage(baseId) {
                const input = document.getElementById(`id_imagem${baseId}`);
                const previewImg = document.getElementById(`preview-img${baseId}`);
                const deleteBtn = document.getElementById(`delete-img${baseId}`);
                const inserirImgBtn = document.getElementById(`botao_imagem${baseId}`);
                
                input.value = "";
                previewImg.style.display = 'none';
                deleteBtn.style.display = 'none';
                inserirImgBtn.style.display = 'block';
                previewImg.src = "#";
            }
        </script>

        <script src="{% static 'js/modulo_tecnico/ficha_atendimento.js' %}"></script>

    </div>

{% endblock %}