{% extends '_partials/base_main.html' %}
{% load static %}
{% load saudacoes_filters %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static '/styles/modulo_tecnico/ficha_atendimento.css' %}">

    <!-- Quill -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

    <!-- FontsAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

{% endblock %}
{% block content %}    
    
    <div class="container_page">
        
        <!-- Identificação -->
        <div class="barra_identificacao">
            <a class="barra_identificacao_parte botao_voltar" style="justify-content: flex-start;" href="{% url 'tecnico_atendimentos' %}">
                <i class="material-symbols-outlined" style="font-size: 1.5vw;">arrow_back</i>
                Voltar
            </a>

            <div class="barra_identificacao_parte">
                <span>Atendimento {{ atendimento.atendimento_id }}</span>
            </div>
            
        </div>

        <!-- Funcionalidades -->
        <div class="barra_funcionalidades">
            <div class="funcionalidade" id="abrirOffcanvasWhatsapp">
                <i class="fa-brands fa-whatsapp" style="font-size: 1.5vw; vertical-align: middle; color: black"></i>
                Whatsapp
            </div>
            <div class="funcionalidade">
                <i class="material-symbols-outlined" style="font-size: 1.5vw; vertical-align: middle; color: black">cancel</i>
                Cancelar
            </div>
            <div class="funcionalidade">
                <i class="material-symbols-outlined" style="font-size: 1.5vw; vertical-align: middle; color: black">done_all</i>
                Finalizar
            </div>
            <div class="funcionalidade">
                <i class="material-symbols-outlined" style="font-size: 1.5vw; vertical-align: middle; color: black">picture_as_pdf</i>
                Relatório
            </div>
        </div>

        <!-- Container Atendimento -->
        <div class="container_atendimento">
            
            <!-- Dados do Atendimento -->
            <div class="container_atendimento_infos">

                <!-- Produtor -->
                <div class="atendimento_produtor">
                    <span><b>Produtor</b></span>
                    <span>Nome: {{ atendimento.produtor.primeiro_ultimo_nome }}</span>
                    <span>Idade: {{ atendimento.produtor.idade }} anos</span>
                    <span>Município: {{ atendimento.produtor.uf_municipio }}</span>
                    <span>Celular: {{ atendimento.produtor.celular }}</span>
                </div>

                <!-- Identificação do Atendimento -->
                <div class="atendimento_dados">
                    <span><b>Identificação do Atendimento</b></span>
                    <span>ID: {{ atendimento.atendimento_id }}</span>
                    <span>Data: <b>{{ atendimento.data|date:'d/m/Y' }}</b></span>
                    <span>Hora: <b>{{ atendimento.hora }}</b></span>
                    <span>Status: 
                        {% if atendimento.status == 'agendado' %}
                            <span class='status atendimento_agendado'>Agendado</span>
                        {% endif %}
                        {% if atendimento.status == 'realizado' %}
                            <span class='status atendimento_realizado'>Realizado</span>
                        {% endif %}
                        {% if atendimento.status == 'cancelado' %}
                            <span class='status atendimento_cancelado'>Cancelado</span>
                        {% endif %}
                    </span>
                </div>

                <!-- Tópico do Atendimento -->
                <div class="atendimento_dados">
                    <span><b>Tópico do Atendimento</b></span>
                    <span>Atividade: {{ atendimento.get_atividade_produtiva_display }}</span>
                    <span>Tópico: {{ atendimento.topico }}</span>
                    <span>Mais informações:
                        {% if atendimento.mais_informacoes %}
                            <br>{{ atendimento.mais_informacoes }}
                        {% else %}
                            não informado.
                        {% endif %}
                    </span>
                </div>

                <!-- Imagens Enviadas -->
                <div class="atendimento_dados">
                    <span><b>Imagens Enviadas</b></span>
                    <div class="atendimento_dados_imagens">
                        <div class="atendimento_dados_imagens__card">
                            {% if atendimento.imagem01 %}
                                <img src="{{ atendimento.imagem01 }}">
                            {% else %}
                                <i class="material-symbols-outlined" style="font-size: 2vw;">image</i>
                                Não enviada
                            {% endif %}
                        </div>
                        <div class="atendimento_dados_imagens__card">
                            {% if atendimento.imagem02 %}
                                <img src="{{ atendimento.imagem01 }}">
                            {% else %}
                                <i class="material-symbols-outlined" style="font-size: 2vw;">image</i>
                                Não enviada
                            {% endif %}
                        </div>
                        <div class="atendimento_dados_imagens__card">
                            {% if atendimento.imagem03%}
                                <img src="{{ atendimento.imagem01 }}">
                            {% else %}
                                <i class="material-symbols-outlined" style="font-size: 2vw;">image</i>
                                Não enviada
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Avaliação do atendimento -->
                <div class="atendimento_dados">
                    <span><b>Avaliação do Atendimento</b></span>
                    <div class="avaliacao__atendimento__estrelas">
                        <span class="estrela preenchida" data-value="1">★</span>
                        <span class="estrela preenchida" data-value="2">★</span>
                        <span class="estrela preenchida" data-value="3">★</span>
                        <span class="estrela preenchida" data-value="4">★</span>
                        <span class="estrela" data-value="5">★</span>
                    </div>
                    <span>Comentário: nenhum comentário.</span>
                </div>
                
            </div>

            <!-- Relatório -->
            <div class="container_atendimento_relatorio">

                <span><b>Relatório Técnico do Atendimento</b></span>

                <div class="area_relatorio">
                    <div id="editor" style="height: 100%;"></div>
                </div>

                <div class="relatorio_botoes">

                    <div>
                        <div class="form-check form-switch" style="font-size: 20px; vertical-align: center;">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Editar</label>
                        </div>
                    </div>
                    
                    <div>
                        <button class="btn btn-success">Salvar Relatório</button>
                        <!-- <button class="btn btn-success" style="margin-left: 20px;">Baixar Relatório</button> -->
                    </div>
                    
                </div>

            </div>

        </div>


        <!-- offcanvas -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasWhatsapp">
            <!-- <div class="offcanvas-header">
              <h5 class="offcanvas-title">Whatsapp</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div> -->
            <div class="offcanvas-body conteudo_whatsapp">
                
                <div class="funcionalidade" id="iniciarAtendimento" data-id="{{ atendimento.produtor.celular }}">
                    <i class="fa-brands fa-whatsapp" style="font-size: 1.5vw; vertical-align: middle; color: black"></i>
                    Iniciar Atendimento
                </div>

                <!-- Mensagem Inicial -->
                <div class="container_mensagem">

                    <div class="container_mensagem__cabecalho">
                        <span>Mensagem inicial</span>
                        <span class="container_mensagem__cabecalho__botao" id="copiarMensagemInicial">
                            <span class="material-symbols-outlined botao_copiar_texto">content_copy</span>
                        </span>
                        
                    </div>

                    <div class="container_mensagem__mensagem" id="mensagemInicial">
                        <i>
                            {{ user|saudacao }}, Sr(a). {{ atendimento.produtor.primeiro_ultimo_nome }}<br>
                            Me chamo {{ atendimento.tecnico.primeiro_ultimo_nome }} e sou o técnico do *Senar* responsável
                            pelo seu atendimento.<br>
                            <br>
                            
                            *Atendimento {{ atendimento.atendimento_id }}*<br>
                            Atividade Produtiva: {{ atendimento.get_atividade_produtiva_display }}<br>
                            Tópico: {{ atendimento.topico }}<br>
                            Data: *{{ atendimento.data|date:'d/m/Y' }}*<br>
                            Hora: *{{ atendimento.hora }}*
                            <br><br>
                            *Podemos dar início à nossa videochamada?*<br>
                        </i>
                    </div>

                </div>

                <!-- Mensagem Final -->
                <div class="container_mensagem">

                    <div class="container_mensagem__cabecalho">
                        <span>Mensagem final</span>
                        <span class="container_mensagem__cabecalho__botao" id="copiarMensagemFinal">
                            <span class="material-symbols-outlined botao_copiar_texto">content_copy</span>
                        </span>
                        
                    </div>

                    <div class="container_mensagem__mensagem" id="mensagemFinal">
                        <i>
                            Sr(a). {{ atendimento.produtor.primeiro_ultimo_nome }},<br>
                            O *Atendimento {{ atendimento.atendimento_id }}* foi encerrado.<br>
                            Em breve o relatório deste atendimento estará disponível em seu aplicativo.<br>
                            
                            Caso o/a Sr.(a) precise de um novo atendimento, faça o agendamento pelo aplicativo CNA Digital.<br>

                            {{ user|saudacao }} e até a próxima. 
                            
                        </i>
                    </div>

                </div>
                
                

            </div>
          </div>
          

        <!-- Quill -->
        <script>
            var quill = new Quill('#editor', {
            theme: 'snow',
            modules: {
                toolbar: [
                ['bold', 'italic', 'underline'],        // toggled buttons
                [{'list': 'ordered'}, {'list': 'bullet'}, 'link'],
                ['clean']                           
                ]
            }
            });
        </script>


        <script src="{% static 'js/modulo_tecnico/ficha_atendimento.js' %}"></script>

    </div>

{% endblock %}