{% extends '_partials/base_main.html' %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static '/styles/modulo_tecnico/lista_atendimentos.css' %}">
{% endblock %}

{% block content %}    
    

    <div class="container_page">
        
        <!-- Filtros -->
        <div class="container_filtros">
            Filtros

            <div class="container_filtros_filtro">
                <!-- Status do Atendimento -->
                <div class="form-floating mb-3" style="width: 120px;">
                    <select class="form-select" style="font-size: 0.8rem;" id="filtroStatus">
                        <option value=""></option>
                        {% for status, status_label in lista_status %}
                            <option value="{{ status }}">{{ status_label }}</option>
                        {% endfor %}
                    </select>
                    <label for="filtroStatus" style="font-size: 0.8rem;">Status</label>
                </div>

                <!-- Atividade Produtiva -->
                <div class="form-floating mb-3" style="width: 160px;">
                    <select class="form-select" style="font-size: 0.8rem;" id="filtroAtividade">
                        <option value=""></option>
                        {% for atividade, atividade_label in lista_atividades %}
                            <option value="{{ atividade }}">{{ atividade_label }}</option>
                        {% endfor %}
                    </select>
                    <label for="filtroAtividade" style="font-size: 0.8rem;">Atividade</label>
                </div>

                <!-- Tópico do Atendimento -->
                <div class="form-floating mb-3" style="width: 200px;">
                    <select class="form-select" style="font-size: 0.8rem;" id="filtroTopico">
                        <option value=""></option>
                        {% for valor, label in lista_topicos %}
                            <option value="{{ valor }}">{{ label }}</option>
                        {% endfor %}
                    </select>
                    <label for="filtroTopico" style="font-size: 0.8rem;">Tópico do Atendimento</label>
                </div>

                <!-- Nota de Avaliação -->
                <div class="form-floating mb-3" style="width: 100px;">
                    <select class="form-select" style="font-size: 0.8rem;" id="filtroNotaAvaliacao">
                        <option value=""></option>
                        {% for numero in '12345' %}
                            <option value="{{ numero }}">{{ numero }}</option>
                        {% endfor %}
                    </select>
                    <label for="filtroNovaAvaliacao" style="font-size: 0.8rem;">Avaliação</label>
                </div>

                <!-- Produtor -->
                <div class="form-floating mb-3" style="flex-grow: 1;">
                    <input class="form-control" style="font-size: 0.8rem;" id="filtroProdutor">
                    <label for="filtroProdutor" style="font-size: 0.8rem;">Produtor</label>
                </div>

                <!-- Limpar Filtros -->
                <div class="funcionalidade" id="botaoLimparFiltros">
                    <i class="material-symbols-outlined" style="font-size: 1.5vw; vertical-align: middle;">filter_alt_off</i>
                    Limpar
                </div>

            </div>
        </div>

        <!-- Lista de atendimentos -->
        <div class="container_listagem">
            
            {% for atendimento in atendimentos %}
                <div class="listagem_item" data-id="{{ atendimento.id }}">
                    <div class="listagem_item_icone">
                        {% if atendimento.status == 'agendado' %}
                            <i class="material-symbols-outlined" style="font-size: 3vw; color: var(--agendado)">event</i>
                            <span style="color: var(--agendado); font-weight: bold;">{{ atendimento.get_status_display }}</span>
                        {% elif atendimento.status == 'cancelado' %}
                            <i class="material-symbols-outlined" style="font-size: 3vw; color: var(--cancelado)">event_busy</i>
                            <span style="color: var(--cancelado); font-weight: bold;">{{ atendimento.get_status_display }}</span>
                        {% elif atendimento.status == 'atendido' %}
                            <i class="material-symbols-outlined" style="font-size: 3vw; color: var(--atendido)">event_available</i>
                            <span style="color: var(--atendido); font-weight: bold;">{{ atendimento.get_status_display }}</span>
                        {% elif atendimento.status == 'finalizado' %}
                            <i class="material-symbols-outlined" style="font-size: 3vw; color: var(--finalizado)">done_all</i>
                            <span style="color: var(--finalizado); font-weight: bold;">{{ atendimento.get_status_display }}</span>
                        {% endif %}
                        
                    </div>
                    <div class="listagem_item_informacoes">
                        <span class="listagem_item_informacoes_titulo"><b>Atendimento {{ atendimento.atendimento_id }}</b></span>
                        
                        <div class="listagem_item_informacoes_container">
                            
                            <div class="listagem_item_informacoes_container_parte">
                                <span>Data/Hora: <b>{{ atendimento.data|date:'d/m/Y' }} - {{ atendimento.hora }}</b></span>
                                <span>Atividade: {{ atendimento.get_atividade_produtiva_display }}</span>
                                <span>Tópico: {{ atendimento.topico }}</span>
                            </div>

                            <div class="listagem_item_informacoes_container_parte">
                                <span>Status: {{ atendimento.get_status_display }}</span>
                                <span>Substatus: {{ atendimento.get_substatus_display }}</span>
                                <span>Nota de Avaliação: 
                                    {% if atendimento.avaliacao_atendimento %}
                                        {{ atendimento.avaliacao_atendimento }} 
                                        <!-- ★★★★★ -->
                                    {% else %}
                                        -
                                    {% endif %}
                                </span>
                            </div>
                            
                            <div class="listagem_item_informacoes_container_parte">
                                <span>Produtor: <b>{{ atendimento.produtor.primeiro_ultimo_nome }}</b></span>
                                <span>Idade: {{ atendimento.produtor.idade }} anos</span>
                                <span>Município: {{ atendimento.produtor.uf_municipio }}</span>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            {% endfor %}

        </div>


    </div>

    <script src="{% static 'js/modulo_tecnico/lista_atendimentos.js' %}"></script>

{% endblock %}