{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CNA Digital</title>
        <!-- Adicionando jQuery via CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <link rel="stylesheet" href="{% static 'styles/templatetags/login.css' %}">
        <link rel="icon" href="{% static 'assets\logos\cna_arado_branco.svg' %}" type="image/x-icon">
    </head>
    <body>

        
        <div class="container_login">
            
            <!-- Imagem -->
            <div class="image-section">
                <img src="{% static 'assets/imagens/ateg_atendimento_digital.jpg' %}" alt="Imagem do SisDAF">
                <div class="legenda-imagem">
                    <p>{{ legenda.titulo }}</p>
                    <p>{{ legenda.data }}</p>
                    {{ legenda.fotografo }}
                </div>
            </div>



            <!-- Seção de Login -->
            <div class="login-section">

                <!-- Logo -->
                <div class="logo-sistema">
                    <img src="{% static 'assets\logos\cna_arado.svg' %}" alt="Logo CNA">
                    <h1><span class="titulo-cna">cna</span><span class="titulo-digital">digital</span></h1>
                </div>
                
                <!-- Módulo -->
                <div class="modulo">
                    Módulo Técnico
                </div>
                
                <!-- Form Login -->
                <div class="form-login">
                    <form action="{% url 'login_tecnico' %}" method="POST">
                        {% csrf_token %}
                        <div class="credenciais">
                            <div class="form-floating mb-3" >
                                {{ form.cpf }}
                                <label>{{ form.cpf.label }}</label>
                            </div>
                            <div class="form-floating mb-3" >
                                {{ form.senha }}
                                <label>{{ form.senha.label }}</label>
                            </div>                    
                        </div>
                        <button type="submit">Entrar</button>
                    </form>
                    <!-- Elemento para armazenar a mensagem de erro -->
                    {% if mensagem %}
                    <div id="error-message" data-message="{{ mensagem }}" style="display:none;"></div>
                    {% endif %}
                </div>

                <!-- Realizar cadastro -->
                <div class="cadastrar" onclick="location.href='/cadastro'">
                    Cadastrar
                </div>
                
                
            </div>
            
        </div>

    </body>

    <script src="{% static 'js/alerts.js' %}"></script>
    <script src="{% static 'js/utilidades.js' %}"></script>
    <script src="{% static 'js/login.js' %}"></script>
</html>