{% load static %}

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasAgendarRetorno">
    
    <!-- Cabeçalho -->
    <div class="offcanvas-header" style="margin-bottom: -20px !important;">
      <h5 class="offcanvas-title">Agendar Retorno</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <!-- Conteúdo -->
    <div class="offcanvas-body conteudo_offcanvas">
      
      <!-- Formulário -->
      <form class="formulario" id="formAgendarRetorno" enctype="multipart/form-data">
          <!-- Tópico -->
          <div class="container_informacoes">
            <div class="container_informacoes__titulo">
                Selecione o tópico
            </div>

            <div class="container_informacoes__campos">
              <div class="form-floating">
                  {{ formAtendimentoRetorno.atividade_produtiva }}
                  <label>{{ formAtendimentoRetorno.atividade_produtiva.label }}</label>
              </div>
              <div class="form-floating">
                  {{ formAtendimentoRetorno.topico }}
                  <label>{{ formAtendimentoRetorno.topico.label }}</label>
              </div>
            </div>
          </div>

          <!-- Data e hora -->
          <div class="container_informacoes">
            <div class="container_informacoes__titulo">
                Selecione a Data e Hora
            </div>
            <div class="container_informacoes__campos">
              <div id="horarios-disponiveis" style="display: none;">
                  {% for data, hora in horarios_disponiveis %}
                      <span class="horario-disponivel" data-data="{{ data }}">{{ hora }}</span>
                  {% endfor %}
              </div>
              <div class="form-floating">
                  {{ formAtendimentoRetorno.data }}
                  <label>{{ formAtendimentoRetorno.data.label }}</label>
              </div>
              <div class="form-floating">
                  {{ formAtendimentoRetorno.hora }}
                  <label>{{ formAtendimentoRetorno.hora.label }}</label>
              </div>
            </div>

          </div>

          <!-- Justificativa -->
          <div class="container_informacoes">
            <div class="container_informacoes__titulo">
              Justifique a necessidade do retorno
            </div>
            <div class="form-floating mb-3">
              <textarea class="form-control" id="atendimentoRetornoJustificativa" name="atendimentoRetornoJustificativa" style="min-height: 150px; font-size: 0.8rem;"></textarea>
              <label for="comments">Justificativa</label>
            </div>
          </div>

          <!-- Botão -->
          <div class="container_informacoes__botoes" style="text-align: right;">
              <button type="submit" class="btn btn-success" id="btnAgendarRetorno">Agendar Retorno</button>
          </div>
      </form>

      

    </div>

</div>

<script src="{% static 'js/modulo_tecnico/agendar_retorno.js' %}"></script>